<%- include('partials/head') %>

<body>
    <%- include('partials/nav') %>

    <div class="container">
        <h1>Website translate</h1>
        <h2>Words</h2>
        <div class="row">
            <% for(let word of words) { %>
                <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <% if(word.img) { %>
                            <img src="<%= word.img %> " class="card-img-top" alt="<%= word.word %>">
                            <% } %>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="/<%= word.word %>">
                                            <%= word.word %>
                                        </a>
                                    </h5>
                                    <p class="card-text">
                                        <%= word.description %>
                                    </p>
                                </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
</body>

</html>