<%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>

    <div class="container">
        <h1>Result for <%= foundWord.word %> :</h1>
        <div class="row">
        <% for(let word of foundWord) { %>
        <div class="col-md-6 col-lg-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <% if(word.img) { %>
                    <img src="<%= word.img %> " class="card-img-top" alt="<%= word.word %>">
                <% } %>
                    <div class="card-body">
                        <h5 class="card-title"><%= word.word %></h5>
                        <p class="card-text"><%= word.description %></p>
                    </div>
                    <div class="row">
                      <div class="col d-flex justify-content-center">
                      <form action="/<%= word.word %>/edit" method="get">
                        <button type="submit" class="btn btn-dark">Edit</button>
                      </form>
                      </div>

                      <div class="col d-flex justify-content-center">
                        <form action="/<%= word.word %>?_method=DELETE" method="post">
                          <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        </div>
                    </div>
            </div>
        </div>
        <% } %> 
        </div>
    </div>
</body>
</html>